sudo: required
services: docker
install: docker build -t waecm-bsp1 .
script:
- docker run -p 8080:8080 --name group6 waecm-bsp1 test
after_success:
- pip install --user awscli
- export PATH=$PATH:$HOME/.local/bin
- eval $(aws ecr get-login --region us-west-2)
- docker tag waecm-bsp1:latest 313230979214.dkr.ecr.us-west-2.amazonaws.com/waecm-bsp1:latest
- docker push 313230979214.dkr.ecr.us-west-2.amazonaws.com/waecm-bsp1:latest
deploy:
  provider: script
  skip_cleanup: true
  script: chmod 600 EC2_2.pem && ssh -o StrictHostKeyChecking=no -i EC2_2.pem $deploy_host
    ./deploy.sh
  on:
    branch: master
before_install:
- openssl aes-256-cbc -K $encrypted_1db68a17bc07_key -iv $encrypted_1db68a17bc07_iv
  -in EC2_2.pem.enc -out ./EC2_2.pem -d

