<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Login</title>
</head>
<body>
    <div>
        <section>
            <h1>Login</h1>
            <form name="loginForm" action="/authorize" method="post">

                <div>
                    <label for="username">Username</label>
                    <input id="username"
                           name="username"
                           type="text" />
                </div>

                <div>
                    <label for="password">Passwort</label>
                    <input id="password"
                           name="password"
                           type="password" />
                </div>

                <div>
                    <button type="submit">Login</button>
                </div>
            </form>
        </section>
    </div>
</body>
</html>